<section>
    <h1><a href="https://github.com/vadimdez/ng2-img-fallback">ng2-img-fallback</a> in action</h1>
    <div>
        <h3>Broken image</h3>
        <img src="not-working_image" alt="not working image">
    </div>
    <div>
        <h3>Broken image with broken fallback</h3>
        <img src="not-working_image" alt="not working image with not working fallback" src-fallback="{{ brokenPlaceholder }}">
    </div>
    <div>
        <h3>Broken image with working fallback</h3>
        <img src="not-working_image" alt="not working image with wirking fallback" src-fallback="{{ workingPlaceholder }}">
    </div>
</section>

<footer>
    <a href="https://github.com/vadimdez">Vadym Yatsyuk</a>
</footer>