<section>
  <div class="main">
    <h2>Angular2+ Image Fallback</h2>
    <p class="short-description">
      Load placeholder image on image error
    </p>

    <p>
      For further information see <a href="https://github.com/VadimDez/ngx-img-fallback">github page</a>.
    </p>
  </div>
  <div>
    <h3>Broken image <span>(default behaviour)</span></h3>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col">
        <img src="not-working_image" alt="not working image">
      </div>
      <div class="mdl-cell mdl-cell--9-col">
        &lt;img src=&quot;not-working_image&quot; alt=&quot;not working image&quot;&gt;
      </div>
    </div>
  </div>
  <div>
    <h3>Broken image with broken fallback</h3>

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col">
        <img src="not-working_image" alt="not working image with not working fallback" [src-fallback]="brokenPlaceholder">
      </div>
      <div class="mdl-cell mdl-cell--9-col">
        &lt;img src=&quot;not-working_image&quot; alt=&quot;not working image with not working fallback&quot; src-fallback=&quot;{{ brokenPlaceholder }}&quot;&gt;
      </div>
    </div>
  </div>
  <div>
    <h3>Broken image with working fallback</h3>

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col">
        <img src="not-working-image" alt="not working image with wirking fallback" [src-fallback]="workingPlaceholder" (loaded)="onLoad($event)">
      </div>
      <div class="mdl-cell mdl-cell--9-col">
        &lt;img src=&quot;not-working_image&quot; alt=&quot;not working image with working fallback&quot; src-fallback=&quot;{{ workingPlaceholder }}&quot; (loaded)=&quot;onLoad($event)&quot;&gt;
      </div>
    </div>
  </div>
</section>
